@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
:root {
  --red: #fc1a1a;
  --light-red: #ff4d4d;
  --black: #130f40;
  --light-color: rgb(0, 0, 0);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
html {
  background-color: #dfe6e9;
}
.fass {
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 50%;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  background: var(--red);
}
.box {
  width: 100%;
  font-size: 1.6rem;
  text-transform: none;
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  border: var(--border);
  margin: 0.7rem 0px;
}
.logo {
  transform: translateY(-2px);
}
.map-container-3 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-3 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 55px;
  width: 55px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.progress-value {
  display: block;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 18px;
  color: #001a2e;
}
